/dr_abitoye
/data
/venv
/samuel
/statistics_learning
*my_practice_class.py
*.csv
/notebooks/som_2026.ipynb


*lab_proj.ipynb
__pycache__


*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
*.env
.idea
.vscode
.coverage
.coverage.*

*poetry.lock